
.ImgCard2{
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
        
    img{
        width: 110%;
        height: 110%;
        transition: all 0.3s linear;
        
       
    }

    background: #C4C4C4;
    border-radius: 16px;

    .information{
        position: absolute;
        width: 100%;
        padding-left: 30px;
        padding-top: 10px;
        height: 108px;
        text-align: left;
        bottom: 0;
        left: 0;
        background: linear-gradient(360deg, rgba(34, 37, 52, 0.6) 0%, rgba(34, 37, 52, 0) 100%);
        border-radius: 14px;
        z-index: 1;
        h2{ 
            display: flex;
            width: 70%;
            font-family: 'Poppins',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 33px;
            color: var(--cl-white);
            margin: 0;
        }
        p{  display: flex;
            justify-content: left;
            width: 70%;
            font-family: 'Poppins',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: var(--cl-white);
            line-height: 24px;
        }

        @media (max-width:1200px) {
            h2{
                font-size: 16px;
                line-height: 22px;
            }
            p{
                font-size: 11px;
                line-height: 18px;
            }
        }

    }
    &:hover{
        img{
            
             transform: scale(1.07);
    
        }
    }

    
}