.SearchContainer {
  background-color: var(--cl-white);

  width: 100%;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 10px 10px 20px 10px;
  z-index: 2;

  .w3-half {
    display: flex;
    align-items: center;
    label {
      margin: 0;
      font-size: 14px;
      @media (min-width: 1200px) {
        font-size: 18px;
      }
    }
  }
  .nav {
    padding-left: 20px;
  }
  .check-bok {
    border-color: blue;
    border: 1px solid blue;
    margin-right: 10px;

    @media (min-width: 1200px) {
      width: 25px;
      height: 25px;
    }
  }
  .nav-link {
    color: var(--cl-grey);

    @media (max-width: 576px) {
      font-size: 12px;
    }
    @media (min-width: 1200px) {
      font-size: 18px;
      line-height: 24px;
      padding: 18px 15px;
    }
  }
  .input-city {
    border: 0.5px solid #000000;
    box-sizing: border-box;
    display: flex;

    border-radius: 10px;
    padding: 10px 17px;
    margin: 10px 0;

    img {
      width: 20%;
    }

    input {
      width: 100%;
      border: none;
    }
    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }

    @media (min-width: 1200px) {
      width: 45%;

      input {
        &::placeholder {
          font-size: 20px;
        }
      }
    }
  }
  .replace {
    width: 37px;
    height: 37px;
    cursor: pointer;
    margin: auto 15px;
    img {
      width: 100%;
    }
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
  .line {
    width: 94%;
    background-color: #888aa2;
    height: 1px;
    margin-left: 20px;
    margin-bottom: 15px;
    @media (min-width: 1200px) {
      margin: 0 0 30px 20px;
    }
  }

  .nav-item1 {
    position: relative;
    transition: all 0.3s linear;
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--cl-blue);
      transition: all 0.3s linear;
    }

    &:hover {
      .nav-link {
        color: var(--cl-blue);
        font-weight: bolder;
      }

      &::after {
        width: 100%;
      }
    }
    &:focus {
      .nav-link {
        color: var(--cl-blue);
        font-weight: bolder;
      }

      &::after {
        width: 100%;
      }
    }
  }

  .acteve {
    .nav-link {
      color: var(--cl-blue);
      font-weight: bolder;
    }

    &::after {
      width: 100%;
    }
  }
  .btn-search {
    margin: 30px auto 0 auto;
    background: #1f4aa8;
    border-radius: 39px;
    padding: 15px 80px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: var(--cl-white);
    border: none;
    transition: all 0.2s linear;

    &:hover {
      box-shadow: 0 0 10px var(--cl-blue);
    }
  }
  .dropdoun {
    color: var(--cl-blue);
    position: relative;
    cursor: pointer;
    padding-right: 10px;
    transition: all 0.1s linear;
    h2 {
      line-height: 0px;
    }

    .dropdounin {
      display: none;
      position: absolute;
      background-color: var(--cl-white);
      top: 20px;
      left: 0px;
      width: 105%;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      transition: all 0.1 linear;

      span {
        padding: 10px 5px;
      }

      .nav-link {
        &:hover {
          color: var(--cl-blue);
        }
      }
    }

    &:hover {
      .dropdounin {
        display: block;
        z-index: 2;
      }
    }
  }
  .t-v {
    display: flex;
    justify-content: right;
    align-items: center;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }
}
